{# SELECT2 #}
<link href="{{ asset('public/assets/global/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('public/assets/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

<div class="scroller" data-rail-visible="1" data-rail-color="yellow" data-handle-color="green">
{{ form_start(form , { 'attr': {'class': 'form-horizontal', 'id': 'modalForm', 'name':'modalForm', 'action':path('inspecciones_inspecciones_cierre',{'idOrderInspeccion' : form.vars.data.id|encriptar} )} }) }}

<div class="form-group form-md-line-input has-info">
    {{ form_label(form.checklist, 'CheckList', {
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-3">
        <div class="input-icon">
            {{ form_widget(form.checklist, {
                'attr': {
                    'readonly':'readonly',
                    'class': 'form-control',
                    'placeholder': 'CheckList'
                }
            }) }}
            <div class="form-control-focus"> </div>
            <span class="help-block">
                ingrese checklist
            </span>
            <i class="fa fa-check-square-o"></i>
            <span class="help-block help-block-error" style="color: red;">
                {{ form_errors(form.checklist) }}
            </span>
        </div>
    </div>

    {{ form_label(form.idSap, 'Id SAP', {
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-4">
        <div class="input-icon">
            {{ form_widget(form.idSap, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'ID SAP'
                }
            }) }}
            <div class="form-control-focus"> </div>
            <span class="help-block">
                ingrese id SAP
            </span>
            <i class="fa fa-cube"></i>
            <span class="help-block help-block-error" style="color: red;">
                {{ form_errors(form.idSap) }}
            </span>
        </div>
    </div>

</div>

<div class="form-group form-md-line-input has-info">

    {{ form_label(form.area, 'Area', {
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-2">
        {{ form_widget(form.area, {
            'attr': {
                'class': 'form-control select2'
            }
        }) }}
        <span class="help-block help-block-error" style="color: red;">
            {{ form_errors(form.area) }}
        </span>
    </div>

    {{ form_label(form.motivoInspeccion, 'Motivo', {
        'label_attr': {
            'class': 'col-md-1 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-3">
        {{ form_widget(form.motivoInspeccion, {
            'attr': {
                'class': 'form-control select2'
            }
        }) }}
        <span class="help-block help-block-error" style="color: red;">
            {{ form_errors(form.motivoInspeccion) }}
        </span>
    </div>

    {{ form_label(form.circuito, 'Circuito', {
        'label_attr': {
            'class': 'col-md-1 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-2">
        {{ form_widget(form.circuito, {
            'attr': {
                'class': 'form-control select2'
            }
        }) }}
        <span class="help-block help-block-error" style="color: red;">
            {{ form_errors(form.circuito) }}
        </span>
    </div>

</div>

<div class="form-group form-md-line-input has-info">
    {{ form_label(form.establecimiento.rubro, 'Rubro', {
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-9">
        {{ form_widget(form.establecimiento.rubro, {
            'attr': {
                'class': 'form-control select2'
            }
        }) }}
        <span class="help-block help-block-error" style="color: red;">
            {{ form_errors(form.establecimiento.rubro) }}
        </span>
    </div>
</div>

<div class="form-group form-md-line-input has-info">
    {{ form_label(form.establecimiento.rubroPrincipal, 'Rubro Principal', {
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-9">
        {{ form_widget(form.establecimiento.rubroPrincipal, {
            'attr': {
                'class': 'form-control select2'
            }
        }) }}
        <span class="help-block help-block-error" style="color: red;">
            {{ form_errors(form.establecimiento.rubroPrincipal) }}
        </span>
    </div>
</div>

<div class="form-group form-md-line-input has-info">
    {{ form_label(form.establecimiento.estado, 'Estado',{
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-2">
        {{ form_widget(form.establecimiento.estado, {
            'attr': {
                'class': 'form-control select2'
            }
        }) }}
        <span class="help-block help-block-error" style="color: red;">
            {{ form_errors(form.establecimiento.estado) }}
        </span>
    </div>

    {{ form_label(form.realizada, '¿Realizada?', {
        'label_attr': {
            'class': 'col-md-1 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-1">
        {{ form_widget(form.realizada, {
            'attr': {                
                'type': 'checkbox',
                'data-label-icon': 'fa fa-youtube',
                'data-on-text': 'SÍ',
                'data-off-text':'NO'}
        }) }}
        <span style="color: red;">
            {{ form_errors(form.realizada) }}
        </span>
    </div>
    <div class="col-md-5">
        {% if form.establecimiento.razonesSociales.children is empty %}
                {% set nombreRS = '' %}
        {% else %}
                {% set nombreUno = ((form.establecimiento.razonesSociales|first).razonSocial.vars.data.nombre1) %}
                {% set nombreDos = ((form.establecimiento.razonesSociales|first).razonSocial.vars.data.nombre2) %}
                
                {% if (nombreUno is defined) or (nombreDos is defined) %}
                        {% set nombreRS = nombreUno ~ ' ' ~ nombreDos %}
                    {% else %}
                        {% set nombreRS = '' %}
                {% endif %}
        {% endif %}

        <div class="input-group input-group-sm">
            <div class="input-group-control">
                <input class="form-control input-sm" readonly placeholder="Actualmente no hay razón social" type="text" value="{{nombreRS}}">
            </div>
            <span class="input-group-btn btn-left">
                <button type="button" class="btn blue mt-ladda-btn ladda-button btn-circle  btn-outline" data-style="zoom-in" data-spinner-color="#333" data-target="#modalRazonesSociales" data-toggle="modal">
                    <span class="ladda-label">
                        <i class="icon-layers"></i>
                        &nbsp; Razones sociales
                    </span>
                    <span class="ladda-spinner"></span>
                    <div class="ladda-progress" style="width: 0px;"></div>
                </button>
            </span>                
        </div>
    </div>
</div>

<table class="table table-hover" id="inspecciones" data-prototype="{{ form_widget(form.inspecciones.vars.prototype)|e('html_attr') }}" style="empty-cells: hide;">
    <thead>
        <tr class="uppercase">
            <th style="text-align: center; width: 15%">Fecha Programado</th>
            <th style="text-align: center; width: 15%">Fecha Inspección</th>
            <th style="text-align: center; width: 15%">Fecha Cierre</th>
            <th style="text-align: center; width: 44%">Inspectores</th>            
            <th style="text-align: center; width: 1%"></th>
        </tr>
    </thead>    

    <tbody>
        {% for inspeccion in form.inspecciones %}
            <tr class='listAdress1'>                
                <td>
                    {{ form_widget(inspeccion.fechaProgramado, {
                        'attr': {
                            'class': 'form-control input-sm fecha-picker new-fecha-picker',
                            'placeholder': 'Fecha programado'
                        }
                    }) }}
                    <span class="help-block help-block-error" style="color: red;">
                        {{ form_errors(inspeccion.fechaProgramado) }}
                    </span>
                </td>
                <td>
                    {{ form_widget(inspeccion.fechaInspeccion, {
                        'attr': {
                            'class': 'form-control input-sm fecha-picker new-fecha-picker',
                            'placeholder': 'Fecha Inspección'
                        }
                    }) }}
                    <span class="help-block help-block-error" style="color: red;">
                        {{ form_errors(inspeccion.fechaInspeccion) }}
                    </span>
                </td>
                <td>
                    {{ form_widget(inspeccion.fechaRecepcion, {
                        'attr': {
                            'class': 'form-control input-sm fecha-picker new-fecha-picker',
                            'placeholder': 'Fecha Recepcion'
                        }
                    }) }}
                    <span class="help-block help-block-error" style="color: red;">
                        {{ form_errors(inspeccion.fechaRecepcion) }}
                    </span>
                </td>
                <td>                    
                    {{ form_widget(inspeccion.inspectores, {
                        'attr': {
                            'class': 'form-control select2 input-sm'
                        }
                    }) }}
                    <span class="help-block help-block-error" style="color: red;">
                        {{ form_errors(inspeccion.inspectores) }}
                    </span>             
                </td>                                
            </tr>
        {% endfor %}
    </tbody>
</table>

<!--<div class="form-group form-md-line-input has-info">
    {{ form_label(form.generaPeligrosos, '¿Genera Peligrosos?', {
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-1">
        {{ form_widget(form.generaPeligrosos, {
            'attr': {
                'class': 'make-switch switch-large',
                'type': 'checkbox',
                'data-label-icon': 'fa fa-youtube',
                'data-on-text': 'SÍ',
                'data-off-text':'NO'}
        }) }}
        <span style="color: red;">
            {{ form_errors(form.generaPeligrosos) }}
        </span>
    </div>

    {{ form_label(form.generaPatogenicos, '¿Genera Patogénicos?', {
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-1">
        {{ form_widget(form.generaPatogenicos, {
            'attr': {
                'class': 'make-switch switch-large',
                'type': 'checkbox',
                'data-label-icon': 'fa fa-youtube',
                'data-on-text': 'SÍ',
                'data-off-text':'NO'}
        }) }}
        <span style="color: red;">
            {{ form_errors(form.generaPatogenicos) }}
        </span>
    </div>

    {{ form_label(form.generaAvus, '¿Genera AVUS?', {
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-1">
        {{ form_widget(form.generaAvus, {
            'attr': {
                'class': 'make-switch switch-large',
                'type': 'checkbox',
                'data-label-icon': 'fa fa-youtube',
                'data-on-text': 'SÍ',
                'data-off-text':'NO'}
        }) }}
        <span style="color: red;">
            {{ form_errors(form.generaAvus) }}
        </span>
    </div>

    {{ form_label(form.generaEfluentesLiquidos, '¿Genera Efluentes Líquidos?', {
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-1">
        {{ form_widget(form.generaEfluentesLiquidos, {
            'attr': {
                'class': 'make-switch switch-large',
                'type': 'checkbox',
                'data-label-icon': 'fa fa-youtube',
                'data-on-text': 'SÍ',
                'data-off-text':'NO'}
        }) }}
        <span style="color: red;">
            {{ form_errors(form.generaEfluentesLiquidos) }}
        </span>
    </div>
</div>

<div class="form-group form-md-line-input has-info">
    {{ form_label(form.generaEmisionesGaseosas, '¿Genera Emisiones Gaseosas?', {
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-1">
        {{ form_widget(form.generaEmisionesGaseosas, {
            'attr': {
                'class': 'make-switch switch-large',
                'type': 'checkbox',
                'data-label-icon': 'fa fa-youtube',
                'data-on-text': 'SÍ',
                'data-off-text':'NO'}
        }) }}
        <span style="color: red;">
            {{ form_errors(form.generaEmisionesGaseosas) }}
        </span>
    </div>

    {{ form_label(form.inscriptoRac, '¿Inscripto en RAC?', {
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-1">
        {{ form_widget(form.inscriptoRac, {
            'attr': {
                'class': 'make-switch switch-large',
                'type': 'checkbox',
                'data-label-icon': 'fa fa-youtube',
                'data-on-text': 'SÍ',
                'data-off-text':'NO'}
        }) }}
        <span style="color: red;">
            {{ form_errors(form.inscriptoRac) }}
        </span>
    </div>

    {{ form_label(form.tieneTamquesCombustible, 'Posee Tanques de Alm. Combustible?', {
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-1">
        {{ form_widget(form.tieneTamquesCombustible, {
            'attr': {
                'class': 'make-switch switch-large',
                'type': 'checkbox',
                'data-label-icon': 'fa fa-youtube',
                'data-on-text': 'SÍ',
                'data-off-text':'NO'}
        }) }}
        <span style="color: red;">
            {{ form_errors(form.tieneTamquesCombustible) }}
        </span>
    </div>

    {{ form_label(form.inscriptoRegLavanderiaTintoreria, '¿Insc. Reg. lavanderia/tintoreria?', {
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-1">
        {{ form_widget(form.inscriptoRegLavanderiaTintoreria, {
            'attr': {
                'class': 'make-switch switch-large',
                'type': 'checkbox',
                'data-label-icon': 'fa fa-youtube',
                'data-on-text': 'SÍ',
                'data-off-text':'NO'}
        }) }}
        <span style="color: red;">
            {{ form_errors(form.inscriptoRegLavanderiaTintoreria) }}
        </span>
    </div>
</div>

<div class="form-group form-md-line-input has-info">
    {{ form_label(form.ruido, 'Ruido - ¿Supera?',{
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-1">
        {{ form_widget(form.ruido, {
            'attr': {
                'class': 'form-control select2'
            }
        }) }}
        <span class="help-block help-block-error" style="color: red;">
            {{ form_errors(form.ruido) }}
        </span>
    </div>
    {{ form_label(form.olores, '¿Hay Olores?',{
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-1">
        {{ form_widget(form.olores, {
            'attr': {
                'class': 'form-control select2'
            }
        }) }}
        <span class="help-block help-block-error" style="color: red;">
            {{ form_errors(form.olores) }}
        </span>
    </div>
    {{ form_label(form.ctrlCedula, '¿Cumple Ctrl. Cedula?',{
        'label_attr': {
            'class': 'col-md-2 control-label',
            'style': 'color: grey;'
        }
    }) }}
    <div class="col-md-1">
        {{ form_widget(form.ctrlCedula, {
            'attr': {
                'class': 'form-control select2'
            }
        }) }}
        <span class="help-block help-block-error" style="color: red;">
            {{ form_errors(form.ctrlCedula) }}
        </span>
    </div>
</div>-->


<div class="form-group  has-info">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        {{ form_widget(form.observaciones) }}        
    </div>
    <div class="col-md-5">
        {{ form_widget(form.revisionObs) }}        
    </div>
    <div class="col-md-1"></div>    
</div>

<div class="form-group form-md-line-input has-info">
    <label class="col-md-2 control-label" style="color: grey;">Actas</label>
    {% for factas in ListaActas %}
        {% if factas.tipo == "acta" %}
            <div class="col-md-2">
                <a data-loading-text="Loading..." class="btn btn-circle btn-outline sbold uppercase btn-block blue col-md-12" data-style="slide-right" id="veracta" target="_blank" name="veracta" href="{{ path('faltas_faltas_datos_actas', { 'id': factas.id|encriptar }) }}">
                    <span class="ladda-label">
                        {{factas.numero}}
                    </span>
                </a>
            </div>        
        {% endif %}
    {% endfor %}
</div>
<div class="form-group form-md-line-input has-info">
    <label class="col-md-2 control-label" style="color: grey;">Fajas</label>
    {% for factas in ListaActas %}
        {% if factas.tipo == "faja" %}
            <div class="col-md-2">
                <button type="button" data-loading-text="Loading..." class="btn btn-circle btn-outline sbold uppercase btn-block blue col-md-12" data-style="slide-right" target="_blank" id="verfaja" name="verfaja"  href="{{ path('faltas_faltas_datos_actas', { 'id': factas.id|encriptar }) }}">
                    <span class="ladda-label">
                        {{factas.numero}}
                    </span>
                </button>
            </div>        
        {% endif %}
    {% endfor %}
</div>

<table class="table table-hover" id="direcciones" data-prototype="{{ form_widget(form.establecimiento.direcciones.vars.prototype)|e('html_attr') }}" style="empty-cells: hide;">
    <thead>
        <tr class="uppercase">
            <th style="text-align: center; width: 5%">Calle</th>
            <th style="text-align: center; width: 1%">Altura</th>
            <th style="text-align: center; width: 1%">Piso</th>
            <th style="text-align: center; width: 1%">Dpto</th>
            <th style="text-align: center; width: 1%">Local</th>                
            <th style="text-align: center; width: 1%">Comuna</th>               
            <th style="text-align: center; width: 1%"></th>
        </tr>
    </thead>    

    <tbody>
        {% for direccion in form.establecimiento.direcciones.children %}
            <tr class='listAdress'>
                <td>                    
                    <input required="required" class="form-control input-sm" readonly="readonly" style="text-align: center;" value="{{ direccion.calle.vars.data.calle }}" type="text">
                    {{ form_widget(direccion.calle, {
                        'attr': {
                            'class': 'hidden'
                        }
                    }) 
                    }}
                    
                </td>
                <td>
                    {{ form_widget(direccion.altura, {
                        'attr': {
                            'class': 'form-control input-sm',
                            'readonly': 'readonly'
                        }
                    }) }}
                </td>
                <td>
                    {{ form_widget(direccion.piso, {
                        'attr': {
                            'class': 'form-control input-sm',
                            'readonly':'readonly'
                        }
                    }) }}
                </td>
                <td>
                    {{ form_widget(direccion.dpto, {
                        'attr': {
                            'class': 'form-control input-sm',
                            'readonly':'readonly'
                        }
                    }) }}
                </td>
                <td>
                    {{ form_widget(direccion.local, {
                        'attr': {
                            'class': 'form-control input-sm',
                            'readonly':'readonly'
                        }
                    }) }}
                </td>
                <td>
                    {{ form_widget(direccion.comuna, {
                        'attr': {
                            'class': 'form-control input-sm',
                            'readonly':'readonly'
                        }
                    }) }}
                </td>                   
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ form_widget(form.establecimiento.razonesSociales, {
    'attr': {
        'hidden': 'true'
    }
}) }}



{{ form_end(form)}}
</div>                  

{# SELECT2 #}
<script src="{{ asset('public/assets/global/plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('public/assets/pages/scripts/components-select2.min.js') }}" type="text/javascript"></script>
<script src="{{asset('Js/Inspecciones/InspeccionesBundle/Direcciones.js')}}" type="text/javascript"></script>



<script>



//DIRECCIONES ↓

var $collectionHolder;

// setup an "add a tag" link
var $addDireccionLink = $('<a href="javascript:;" id="newAdress" class="btn white btn-block"><i class="fa fa-plus"></i></a>');
var $newLinkLi = $('<tr></tr>').append($addDireccionLink);

//DIRECCIONES ↓

var $inspeccionesCollectionHolder;

// setup an "add a tag" link
var $addInspeccionLink = $('<a href="javascript:;" id="newAdress1" class="btn white btn-block"><i class="fa fa-plus"></i></a>');
var $newLinkLiInspecciones = $('<tr></tr>').append($addInspeccionLink);

$(document).ready(function(){
    $(".modal-title").html('<div class="col-md-12"><div class="col-md-5"><a href="{{ path("inspecciones_inspecciones_resultados", { "idOrderInspeccion" : form.vars.data.id|encriptar}) }}" class="btn blue btn-outline" target="_blank"> Ver CheckList</a><a href="{{ path("inspecciones_inspecciones_pdfinspeccion", { "checklist" : form.vars.data.checklist}) }}" class="btn blue btn-outline" target="_blank"> Pdf CheckList</a></div><div class="col-md-4"><a href="{{ path("establecimiento_establecimiento_homepage", { "id" : form.vars.data.establecimiento.id|encriptar }) }}" class="btn blue btn-outline" target="_blank"> Ver el Establecimiento</a></div><div class="col-md-3"><a class="btn btn-xs default blue-sharp" href="javascript:ReporteDiario.enviarARevisionInspector(\'{{form.vars.data.id|encriptar}}\');"><i class="fa fa-check-square-o"></i>Enviar a Revision</a><a class="btn btn-xs default red-sunglo" href="javascript:ReporteDiario.editarCierreCheckList(\'{{form.vars.data.id|encriptar}}\',1);"><i class="fa fa-chain-broken"></i>Desvincular</a></div></div>');
    

    $( "#modalForm" ).on( "submit", function( event ) {
        event.preventDefault();        
        ReporteDiario.editarCheckListSend();
    });ui

    // Get the ul that holds the collection of tags
    $collectionHolder = $('table#direcciones');
     // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);
    // add a delete link to all of the existing tag form li elements
    /*$collectionHolder.find('.listAdress').each(function() {
        addTagFormDeleteLink($(this));        
    });*/    

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $('#newAdress').on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();            
        // add a new tag form (see next code block)
        addAdressForm($collectionHolder, $newLinkLi, 'listAdress');
        ComponentsSelect2.init();
    });

    $inspeccionesCollectionHolder = $('table#inspecciones');
    $inspeccionesCollectionHolder.append($newLinkLiInspecciones);

    $inspeccionesCollectionHolder.find('.listAdress1').each(function() {
        addTagFormDeleteLink($(this));        
    });

    $inspeccionesCollectionHolder.data('index', $inspeccionesCollectionHolder.find(':input').length);

    $('#newAdress1').on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();            
        // add a new tag form (see next code block)
        addAdressForm($inspeccionesCollectionHolder, $newLinkLiInspecciones, 'listAdress1');
        ComponentsSelect2.init();        
        
        $('.fecha-picker').datepicker({ dateFormat: "dd-mm-yy" });
        
    });

    function addAdressForm($collectionHolder, $newLinkLi,$adress) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');
        //console.log(prototype);

        // get the new index
        var index = $collectionHolder.data('index');
        //console.log(index);

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);
        //console.log(newForm);
        var arrayHtml = newForm.split("<div>");
        //console.log(arrayHtml);
        var Html1 = '';
        var Html2 = '';       
        
        for (var i = 0 ; i <= arrayHtml.length - 1; i++) {
            if(i == 0){
                //console.log(arrayHtml[i]);
                //Html1 = arrayHtml[i].replace(/<div /g, '').replace(/> /,'');
                //console.log(Html1);
            }else if(i <= arrayHtml.length - 1){
                Html2 = Html2 + "<td>" + arrayHtml[i].replace(/<\/div>/g, "<\/td>");
                //console.log(Html2);
            }else{
                newForm += arrayHtml[i];
                //console.log(newForm);
            }            
        }

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<tr class="'+$adress+'"'+Html1+'></tr>').append(Html2);
        //console.log($newFormLi);
        $newLinkLi.before($newFormLi);
        //console.log($newFormLi);
        addTagFormDeleteLink($newFormLi);
    }


    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormA = $('<td style="text-align: center; vertical-align: middle;"><a href="javascript:;" class="btn btn-circle btn-xs red"><i class="glyphicon glyphicon-trash"> </i></a></td>');
        $tagFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form
            $tagFormLi.remove();
        });
    }
    

    
});
</script>
<script src="{{asset('Js/CoreBundle/DateValidatorModal.js')}}" type="text/javascript"></script>